Repository gabriel-jung/my_mirror_on_cloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, codespell, export-requirements-dev

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: poetry run nbstripout
  language: system

codespell:
  name: Check spelling with codespell
  entry: poetry run codespell markdown
  language: system

export-requirements-dev:
  name: Export Poetry dev dependencies
  entry: poetry export --with=dev --without-hashes --format=requirements.txt --output=requirements-dev.txt
  language: system
  pass_filenames: false

Exploration notebooks of the H&M and Farfetch catalogues
  .gitignore
  README.md
  notebooks/tests_farfetch.ipynb
  notebooks/tests_h&m.ipynb
  poetry.lock
  poetry.toml
  pyproject.toml
  requirements-dev.txt
Due: nbstripout, codespell, export-requirements-dev

Add notebook with text vector search
  notebooks/tests_farfetch.ipynb
  notebooks/tests_h&m.ipynb
  notebooks/tests_text_vector_search.ipynb
  poetry.lock
  pyproject.toml
  requirements-dev.txt
Due: nbstripout, export-requirements-dev

Update requirements-dev
  requirements-dev.txt
Due: none

feat: first draft of streamlit interface
  webapp/.python-version
  webapp/app.py
  webapp/modules/page1.py
  webapp/modules/page2.py
  webapp/requirements.txt
Due: none

Add text_generation.py for prompting, and a corresponding testing notebook
  notebooks/exploration_farfetch.ipynb
  notebooks/exploration_h&m.ipynb
  notebooks/exploration_text_vector_search.ipynb
  notebooks/testing_text_generation.ipynb
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/query_processor.py
  src/my_mirror_on_cloud/text_generation.py
  src/my_mirror_on_cloud/utils.py
  src/my_mirror_on_cloud/vector_store.py
  tags/tags_v1.pkl
Due: nbstripout

Add SQLite DB for catalogue
  notebooks/exploration_farfetch.ipynb
  notebooks/test_vector_store.ipynb
  src/my_mirror_on_cloud/text_generation.py
  src/my_mirror_on_cloud/vector_store.py
Due: nbstripout

fix: streamlit interface
  webapp/modules/page1.py
Due: none

fix: push merge conflicts
  webapp/modules/page1.py
Due: none

feat: link python code to streamlit
  src/__init__.py
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/encode_query.py
  src/my_mirror_on_cloud/pipeline.py
  src/my_mirror_on_cloud/resume_client_query.py
  webapp/app.py
  webapp/modules/page1.py
  webapp/requirements.txt
Due: none

Add vectorization using FashionCLIP
  environment-dev.yml
  notebooks/exploration_fashionclip.ipynb
  notebooks/testing_embedding_manager.ipynb
  notebooks/testing_vector_store.ipynb
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/text_generation.py
  src/my_mirror_on_cloud/utils.py
  src/my_mirror_on_cloud/vector_store.py
Due: nbstripout, export-requirements-dev

feat: add language management
  requirements-dev.txt
  src/my_mirror_on_cloud/manage_language.py
  src/my_mirror_on_cloud/pipeline.py
  webapp/modules/page1.py
Due: none

fix: add language management
  src/my_mirror_on_cloud/pipeline.py
  webapp/modules/page1.py
Due: none

Add weaviate_manager.py module (implementing connection, collection management and search)
  .gitignore
  notebooks/exploration_text_vector_search.ipynb
  notebooks/test_vector_store.ipynb
  notebooks/testing_embedding_manager.ipynb
  notebooks/testing_text_generation.ipynb
  notebooks/testing_weaviate_manager.ipynb
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/update_catalogue_HM.py
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/vector_store.py
  src/my_mirror_on_cloud/weaviate_manager.py
Due: nbstripout, export-requirements-dev

Add weaviate and catalogue management
  notebooks/testing_embedding_manager.ipynb
  notebooks/testing_vector_store.ipynb
  notebooks/testing_weaviate_manager.ipynb
  poetry.lock
  pyproject.toml
  scripts/demo-catalog-search.ipynb
  scripts/requirements-dev.txt
  scripts/update_catalogue_HM.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  src/my_mirror_on_cloud/utils.py
  src/my_mirror_on_cloud/vector_store.py
  src/my_mirror_on_cloud/weaviate_manager.py
  webapp/modules/page1.py
Due: nbstripout, export-requirements-dev

feat: link weaviate class to catalogue_search
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/encode_query.py
  src/my_mirror_on_cloud/manage_language.py
  src/my_mirror_on_cloud/query_processor.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  src/my_mirror_on_cloud/weaviate_manager.py
  webapp/app.py
  webapp/modules/chatbot.py
  webapp/modules/page1.py
Due: none

Update dependencies and catalogue script
  notebooks/demo-catalog-access.ipynb
  notebooks/demo-catalog-search.ipynb
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  scripts/update_catalogue_HM.py
Due: nbstripout, export-requirements-dev

Add Hybrid Search
  notebooks/demo-catalog-search.ipynb
  scripts/update_catalogue_HM.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/weaviate_manager.py
Due: nbstripout

feat: display image on streamlit
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/params.py
  src/my_mirror_on_cloud/resume_client_query.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  webapp/modules/page1.py
  webapp/scripts/load_image.py
Due: none

feat: hybrid search
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/encode_query.py
  src/my_mirror_on_cloud/resume_client_query.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  src/my_mirror_on_cloud/weaviate_manager.py
  webapp/modules/page1.py
  webapp/scripts/load_image.py
Due: none

feat: adapt streamlit interface and clean code
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/manage_language.py
  src/my_mirror_on_cloud/resume_client_query.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  webapp/app.py
  webapp/modules/chatbot.py
  webapp/modules/page1.py
  webapp/requirements.txt
Due: none

Add Docker Basic Config
  .dockerignore
  .gitignore
  Dockerfile
  entrypoint.sh
  notebooks/testing_embedding_manager.ipynb
  notebooks/testing_vector_store.ipynb
  poetry.lock
  pyproject.toml
  requirements.txt
  src/my_mirror_on_cloud/weaviate_manager.py
  webapp/app.py
  webapp/modules/chatbot.py
  webapp/modules/page1.py
  webapp/modules/page2.py
Due: nbstripout, export-requirements-dev

Update dockerfile
  .dockerignore
  Dockerfile
  entrypoint.sh
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: export-requirements-dev

Fix requirements
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: export-requirements-dev

Add catvton functionality!
  .gitignore
  Dockerfile
  scripts/update_catalogue_HM.py
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/catvton_caller.py
  webapp/app.py
  webapp/modules/page1.py
Due: none

Working Version
  Dockerfile
  notebooks/download_models.ipynb
  notebooks/exploration_h&m.ipynb
  scripts/update_catalogue_HM.py
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/client_query_manager.py
  src/my_mirror_on_cloud/embedding_manager.py
  src/my_mirror_on_cloud/encode_query.py
  src/my_mirror_on_cloud/resume_client_query.py
  src/my_mirror_on_cloud/streamlit_pipeline.py
  webapp/app.py
  webapp/modules/page1.py
Due: nbstripout

Add Readme and fix typos Streamlit
  README.md
  src/my_mirror_on_cloud/catalogue_search.py
  src/my_mirror_on_cloud/client_query_manager.py
  webapp/app.py
  webapp/modules/page1.py
Due: codespell

Enhance README with project details and features
  README.md
Due: codespell

Fix demo image path in README.md
  README.md
Due: codespell

Enhance README with demo images and hosting note
  README.md
Due: codespell

Fix demo image paths in README.md
  README.md
Due: codespell

Adjust demo image sizes for better layout
  README.md
Due: codespell

Update README with hosting status information
  README.md
Due: codespell

Simplify project description in README.md
  README.md
Due: codespell

Path conditions:
  nbstripout: any of: (\.ipynb)$
  codespell: any of: \.(md|markdown|mdown)$
  export-requirements-dev: any of: ^(pyproject\.toml|poetry\.lock)$
